---
layout: body
---

<div id="banner"></div>

<header>
<div class="narrow">
<h1>
<span class="pad">
{% if page.title == "home" %}
Valeria D'Amico
{% else %}
<a href="/">Valeria D'Amico</a>
{% endif %}
</span>
</h1>
</div>
</header>

<nav>
<div class="narrow">
<ul>
{% for item in site.nav %}
<li>
{% if page.title == item.title %}
<span class="pad selected">{{ item.title }}</span>
{% else %}
<span class="pad"><a href="{{ item.url }}">{{ item.title }}</a></span>
</li>
{% endif %}
{% endfor %}
</ul>
</div>
</nav>

<main>
<div class="narrow">
{{ content }}
</div>
</main>

<footer>
<div class="center">
Contact Valeria at <a
href="mailto:move@valeriadamico.com">move@valeriadamico.com</a> for dance or <a
href="mailto:gyro@valeriadamico.com">gyro@valeriadamico.com</a> for gyrotonic.
</div>
</footer>
